html, body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: rgb(66, 66, 66);
}

h1, h2, h3, h4, h5 {
    color: #cb063e;
}

a {
    text-decoration: none;
    color: #cb063e;
}

a:hover {
    color: #cb063e;
    text-decoration: underline;
}

.stripe-loading-indicator .stripe,
.stripe-loading-indicator .stripe-loaded {
    background: #ffcd00 !important;
}

.selected {
    border-color: #cc003d;
}

img {
    max-width: 100%;
    height: auto;
}

img.placeholder {
    opacity: 0.3;
}

img.product-image {
    max-width: 700px;
    max-height: 500px;
    object-fit: cover;
}

img.img-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.active-image {
    position: relative;
}

.active-image img {
    height: 300px;
}

.active-image .loading-indicator {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.active-image .loading-indicator .spinner {
    margin-top: auto;
    margin-bottom: auto;
}
